body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.character-sheet {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.battle-scene {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    column-count: 2;

}
.interface {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.inventory-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.inventory-item button {
    margin-left: 8px;
}

